In [1]:
import numpy as np
import pandas as pd

In [3]:
dict={
    "name":['sanket','vishwanath','Prajwal','putru'],
    "marks":[55,66,77,88],
    "city":['gulbarga','shahabad','wadi','solapur']
    
}

In [4]:
df=pd.DataFrame(dict)

In [5]:
df

         name  marks      city
0      sanket     55  gulbarga
1  vishwanath     66  shahabad
2     Prajwal     77      wadi
3       putru     88   solapur

NameError: name 'df' is not defined

In [6]:
df.to_csv('friends.csv')

NameError: name 'df' is not defined

In [7]:
df.to_csv('sanket.csv')

NameError: name 'df' is not defined